.Post {
  background-color: #343a40;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Star {
  color: #f4e02b;
}

.Star:hover {
  color: #ffffff;
}

.StarOutline:hover {
  color: #f4e02b;
}